<div class="task-group">
  <div class="task-group-header">
    <h2>{{ title }}</h2>
    <span class="task-count">{{ tasks.length }} tasks</span>
  </div>
  <ul class="task-list" *ngIf="tasks.length > 0; else emptyState">
    <li class="task-list-item" *ngFor="let task of tasks">
      <app-task-item
        [task]="task"
        (toggleComplete)="onToggleComplete($event)"
        (toggleImportant)="onToggleImportant($event)"
      ></app-task-item>
    </li>
  </ul>
  <ng-template #emptyState>
    <div class="empty-state">
      No tasks in this group. Add a task to get started!
    </div>
  </ng-template>
</div>
