<div class="login-dialog" @fadeInOut>
  <div class="login-content">
    <h2>Welcome Back</h2>
    <p class="subtitle">Please sign in to continue</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          required
        >
        <mat-error *ngIf="submitted && f['email'].errors">
          <span *ngIf="f['email'].errors['required']">Email is required</span>
          <span *ngIf="f['email'].errors['email']">Please enter a valid email</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          required
        >
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && f['password'].errors">
          <span *ngIf="f['password'].errors['required']">Password is required</span>
          <span *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</span>
        </mat-error>
      </mat-form-field>

      <div class="button-group">
        <button
          type="button"
          mat-button
          class="cancel-button"
          (click)="closeDialog()"
        >
          Cancel
        </button>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          class="submit-button"
          [disabled]="loading"
        >
          <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
          <span *ngIf="!loading">Sign In</span>
        </button>
      </div>
    </form>
  </div>
</div>
